.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
lib-cov
lcov.info
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz

pids
logs
results
build
.grunt

node_modules
**/*.xcuserdatad/**
**/*.xcworkspace/**

Pods/
Podfile.lock
*.xcworkspace
xcuserdata