<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>saml-ios-swift.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>8A2A8C1E1CA478FF001EF49F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8A2A8C321CA47900001EF49F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8A2A8C3D1CA47900001EF49F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
