<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<dict>
  <key>host</key>
  <string>replace me</string>
  <key>appid</key>
  <string>replace me</string>
  <key>projectid</key>
  <string>replace me</string>
  <key>appkey</key>
  <string>replace me</string>
  <key>connectiontag</key>
  <string>replace me</string>
</dict>
</plist>